<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>{{ title }}</h1>
	</header>
	<main>
		{{ content | safe }}
	</main>
	<footer>
		<p>&copy; 2022 Design 2 SEO</p>
	</footer>
</body>
</html>
