<!DOCTYPE html>
<html>
<head>
	{% include 'title-and-meta.njk' %}
	<link rel="stylesheet" href="https://11ty-theme-by-design-2-seo.netlify.app/assets/css/style.css">
</head>
<body>
	{% include 'header.njk' %}
	<main>
		{{ content | safe }}
	</main>
	{% include 'footer.njk' %}
</body>
</html>
