<footer class="site-footer">
	<section class="container col-three">
		<div class="footer--social">
			<a class="socials" href="#" target="_blank" aria-label="LinkedIn" rel="noopener"><span class="icon-social">LinkedIn</span></a>
			<a class="socials" href="#" target="_blank" aria-label="Youtube" rel="noopener"><span class="icon-social" rel="noopener">YouTube</span></a>
			<a class="socials" href="#" target="_blank" aria-label="Twitter" rel="noopener"><span class="icon-social">Twitter</span></a>
		</div>
		<div class="footer--menu">
			<div class="sitemap">Sitemap:</div>
			<ul class="menu-item">
				<li><a href="/">Home</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		</div>
		<div class="copyright">
			<p class="no-top">Your Blog Name © All Rights Reserved 2022</p>
		</div>
	</section>
</footer>