---
layout: "base.njk"
---
<section class="container post">
	<h1 class="article--title">{{ title }}</h1>
	<div class="author">By: <a href="/about/" title="Posts by admin" rel="author">{{ author }}</a> on {{ date | postDate }}</div>
	<article  class="post--bg">
		{{ content | safe }}
	</article>
</section>