{%- if pages == 'home-page' -%}
<title>11ty Theme - by Design 2 SEO</title>
<meta name="description" content="This is the home page description.">
{%- elif tag == 'about-page' -%}
<title>11ty Theme - About</title>
<meta name="description" content="This is the about page description.">
{%- endif -%}